*/.quarto/
*_files
tmp.gif
*/Manifest.toml
*/.DS_Store
*.quarto_ipynb
.DS_Store
src/.gitignore
tmp/
**/.quarto_ipynb
src/off
src/gks-2.png
src/gks-3.png
src/gks-4.png
src/gks-5.png
src/gks-6.png
src/gks.png
